<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <context:component-scan base-package="com.springinaction.springidol">
        <context:include-filter type="assignable"
                                expression="com.springinaction.springidol.Instrument"/>
        <context:include-filter type="assignable"
                                expression="com.springinaction.springidol.Juggler"/>
        <context:include-filter type="assignable"
                                expression="com.springinaction.springidol.Audience"/>
        <context:include-filter type="assignable"
                                expression="com.springinaction.springidol.MindReader"/>
        <context:include-filter type="assignable"
                                expression="com.springinaction.springidol.Thinker"/>
        <!--<context:exclude-filter type="annotation"-->
        <!--expression="com.springinaction.springidol.SkipIt"/>-->
    </context:component-scan>
    <aop:config>
        <aop:aspect ref="audience">
            <aop:pointcut id="performance2" expression=
                    "execution(* com.springinaction.springidol.Performer.perform(..))"
            />
            <!-- Совет, выполняемый и до, и после -->
            <aop:around
                    pointcut-ref="performance2"
                    method="watchPerformance"/>
        </aop:aspect>
        <aop:aspect ref="magician2">
            <aop:pointcut id="thinking"
                          expression="execution(* com.springinaction.springidol.Thinker.thinkOfSomething(String))
and args(thoughts)"/>
            <aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts"/>
        </aop:aspect>
    </aop:config>
</beans>
