<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://127.0.0.1:5432/digital_diary</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">artemtursunov</property>
      <property name="connection.password"></property>
    <property name="connection.pool_size">1</property>
    <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
    <property name="current_session_context_class">thread</property>
      <!--<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
      <property name="show_sql">true</property>

     <!--DB schema will be updated if needed -->
     <property name="hbm2ddl.auto">update</property>

    <mapping class="com.arqin.dairy.entity.Person"/>
    <mapping class="com.arqin.dairy.entity.PersonType"/>
    <mapping class="com.arqin.dairy.entity.Grade"/>
    <mapping class="com.arqin.dairy.entity.Subject"/>
    <mapping class="com.arqin.dairy.entity.Journal"/>
  </session-factory>
</hibernate-configuration>